<main>
  <form [formGroup]="form">
    <h1 style="text-transform: uppercase">Enter with your account</h1>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Ex. pat@example.com"
        formControlName="email"
      />
      <mat-error *ngIf="form.get('email')!.hasError('required')"
        >Email is Required</mat-error
      >
      <mat-error *ngIf="form.get('email')!.hasError('email')"
        >Email is Invalid</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
      <mat-error *ngIf="form.get('password')!.hasError('required')"
        >Password is Required</mat-error
      >
    </mat-form-field>

    <div class="aligned-to-right">
      <button
        mat-button
        test-id="recover-password-button"
        (click)="recoverPassword()"
        *ngIf="!isRecoveringPassword"
        [disabled]="!form.get('email')!.valid"
      >
        Recover password
      </button>
      <button mat-button test-id="recover-password-loader" *ngIf="isRecoveringPassword">
        <mat-spinner diameter="20" color="primary"></mat-spinner>
      </button>
    </div>

    <button
      mat-raised-button
      color="primary"
      *ngIf="!isLoginIn"
      test-id="login-button"
      [disabled]="!form.valid"
      (click)="login()"
    >
      Login
    </button>

    <button
      mat-raised-button
      color="primary"
      class="button-loader"
      *ngIf="isLoginIn"
      test-id="login-loader"
    >
      <mat-spinner diameter="20" color="accent"></mat-spinner>
    </button>

    <button mat-stroked-button color="primary" test-id="register-button">
      Register
    </button>
  </form>
</main>
